BLOCK RESETPATHS ;
BLOCK JTAGPATHS ;
LOCATE COMP "clk12M" SITE "A10" ;
LOCATE COMP "rstn" SITE "G2" ;
LOCATE COMP "LED[7]" SITE "B17" ;
LOCATE COMP "LED[6]" SITE "A17" ;
LOCATE COMP "LED[5]" SITE "C17" ;
LOCATE COMP "LED[4]" SITE "B18" ;
LOCATE COMP "LED[3]" SITE "A18" ;
LOCATE COMP "LED[2]" SITE "B19" ;
LOCATE COMP "LED[1]" SITE "A12" ;
LOCATE COMP "LED[0]" SITE "A13" ;
IOBUF PORT "clk12M" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rstn" IO_TYPE=LVCMOS33 ;


LOCATE COMP "FTDI_txd" SITE "C12"; # FPGA receives from ftdi BDBUS0ov lk
LOCATE COMP "FTDI_rxd" SITE "B12"; # FPGA transmits to ftdi BDBUS1 BDBUS2

## USBSERIAL FTDI-FPGA serial port "usb" sheet
//LOCATE COMP "FTDI_txd" SITE "P2"; # FPGA receives from ftdi BDBUS0ov lk
//LOCATE COMP "FTDI_rxd" SITE "P3"; # FPGA transmits to ftdi BDBUS1 BDBUS2
//LOCATE COMP "ftdi_nrts" SITE "M3"; # FPGA receives
//LOCATE COMP "ftdi_ndtr" SITE "N1"; # FPGA receives
//LOCATE COMP "ftdi_txden" SITE "L3"; # FPGA receives

//IOBUF  PORT "FPGA_txd_FTDI_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
//IOBUF  PORT "FPGA_rxd_FTDI_txd" PULLMODE=UP IO_TYPE=LVCMOS33;

//IOBUF  PORT "FTDI_txd" IO_TYPE=LVCMOS33;
//IOBUF  PORT "FTDI_rxd" IO_TYPE=LVCMOS33;


//IOBUF  PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF  PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF  PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;

BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=ENABLE TRANSFR=OFF SLAVE_SPI_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 ;
